table{
    height: 492px;
    width: 100%;
    border-collapse:collapse;
}

table td{
    border: gray solid 1px;
    padding: 10px;
    vertical-align: top;
    width: 12,5%;
}

.mois, .semaine, .lien {
    display: inline-block;
}

.semaine{
    margin: 0px 350px;
}

.midi_hour{
    border-left: white solid 1px;
    border-right: white solid 1px;
}

.in_previously_month{
    color: gray;
}

.in_previously_month a[class='rdv']{
    font-weight: normal;
    color: gray;
}